html {
    background-color: skyblue;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}

#itemboxbtn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;

}

h1, h2, #list, #provide{
    text-align: center;
}